body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:60px;
  width:588px;
  height:185px;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u999_ann {
  border-width:0px;
  position:absolute;
  left:263px;
  top:0px;
  width:1px;
  height:1px;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:0px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1003_ann {
  border-width:0px;
  position:absolute;
  left:472px;
  top:0px;
  width:1px;
  height:1px;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:0px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:45px;
  height:30px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:30px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:30px;
  width:116px;
  height:30px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:30px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:30px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:30px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:45px;
  height:30px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:60px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:60px;
  width:116px;
  height:30px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:60px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:60px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:60px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:45px;
  height:30px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:90px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:90px;
  width:116px;
  height:30px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:90px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:90px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:90px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:45px;
  height:30px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:120px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:120px;
  width:116px;
  height:30px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:120px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:120px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:120px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:45px;
  height:30px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:150px;
  width:116px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:150px;
  width:116px;
  height:30px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:150px;
  width:125px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:150px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:150px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:25px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:241px;
  width:435px;
  height:25px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:16px;
  width:115px;
  height:25px;
}
#u1069_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:18px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:13px;
  width:93px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:15px;
  width:152px;
  height:27px;
}
#u1074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1074_input:disabled {
  color:grayText;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:19px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:93px;
  width:87px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:123px;
  width:87px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u1081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:153px;
  width:87px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u1083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:183px;
  width:87px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:213px;
  width:87px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u1087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:276px;
  width:111px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
